*{
    margin:0;
}
body
{
    background-image: url("tillbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#div
{
    height: 450px;
    width: 800px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: inset 0px 0px 100px 10px rgb(255, 255, 255);
}

#tomove
{
    height: 450px;
    width: 800px;
    padding-top: 105px;
    padding-left: 290px;
    padding-bottom: 105px;
}

#title
{
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#left
{
    height: 280px;
    width: 280px;
    float: left;
    margin-left: 20px;
}

#right
{
    height: 280px;
    width: 450px;
    float: right;
    margin-right: 20px;
    padding-right: 10px;
}

#sub
{
    font-family: Arial;
    font-size: 15px;
    text-align: justify;
    padding-top: 15px;
}

#footer
{
    width: 770px;
    height:60px;
    background-color: aquamarine;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
}

#logo
{
    font-family: Cinzel Decorative;
    font-size: 20px;
    font-weight: 500;
    float: left;
    padding-top: 15px;
    padding-left: 35px;
}
